In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/06 10:28:09 WARN Utils: Your hostname, MacBook-Pro-Stanislav.local resolves to a loopback address: 127.0.0.1; using 192.168.90.236 instead (on interface en0)
24/03/06 10:28:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/06 10:28:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/06 10:28:11 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/03/06 10:28:11 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/03/06 10:28:11 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/03/06 10:28:11 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [4]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [5]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [12]:
# common_columns = set(df_yellow.columns) & set(df_green.columns)

common_columns = []
yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [13]:
from pyspark.sql import functions as F

In [14]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [15]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [16]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [17]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [18]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [19]:
df_trips_data.registerTempTable('trips_data')

/Users/diana/.conda/envs/de_zoomcamp/lib/python3.12/site-packages/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [20]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [21]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [22]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         164|2020-01-01 00:00:00|       green|  1139.5300000000002|                68.75|                    2.5|                       0.0|          116.28000000000003|                   10.800000000000004|          1337.8600000000001|                                 0.0|                       1.0|       8.912222222222223|
|         162|2020-01-01 00:00:00|       green|  2281.4600000000005|               145.75|                    9.0|                     11.52|          137.44000000000003|                   20.700000000000028|          2605.8700000000003|                                 0.0|                       1.0|       9.524927536231884|
|         116|2019-12-01 00:00:00|       green|               21.59|                  1.0|                    1.0|                      4.95|                         0.0|                   0.8999999999999999|          29.439999999999998|                                 0.0|                       1.0|      0.6366666666666666|
|         265|2020-02-01 00:00:00|       green|  12431.599999999999|   359.09000000000003|                  118.0|        353.03000000000003|           461.3600000000002|                    98.69999999999968|          13827.279999999999|                                2.75|        1.5217391304347827|       8.645274725274723|
|         130|2019-12-01 00:00:00|       green|                34.0|                  2.0|                    2.0|                      2.56|                         0.0|                                  1.2|                       41.76|                                 0.0|                       1.0|                  2.0225|
|         138|2020-02-01 00:00:00|       green|              982.34|                 6.75|                   17.5|                    143.64|                       18.36|                    15.30000000000001|          1189.3899999999992|                                 5.5|                       1.3|      2.4756862745098047|
|         155|2020-01-01 00:00:00|       green|   25022.44000000009|              1798.25|                  212.0|                      9.01|           429.1100000000003|                   255.00000000000395|          27730.509999999984|                                2.75|        1.2418300653594772|      5.5107524752475125|
|          98|2020-01-01 00:00:00|       green|   5543.489999999997|                344.5|                   38.0|                      6.46|          109.64000000000001|                    60.89999999999978|           6110.440000000002|                                 5.5|         1.173913043478261|        5.63216981132075|
|         115|2020-01-01 00:00:00|       green|             1960.14|                 29.0|                   14.0|                       0.0|           434.5200000000002|                   11.100000000000005|          2448.7599999999998|                                 0.0|                      1.52|      14.539487179487182|
|         194|2020-01-01 00:00:00|       green|  1151.5000000000002|                 41.5|                   11.5|                     11.14|           201.9600000000001|                    9.900000000000002|          1442.4000000000003|                                11.0|        1.2857142857142858|      7.2821428571428575|
|         243|2019-12-01 00:00:00|       green|               13.99|                  0.0|                    0.0|                       1.0|                         0.0|                                  0.3|                       15.29|                                 0.0|                       1.0|                     0.0|
|         116|2020-02-01 00:00:00|       green|   77899.19999999992|              3196.25|                 2770.5|         6215.790000000005|          1176.9700000000003|                   1809.2999999998956|           95437.61000000351|                             2694.25|         1.196932299012694|       2.854020003226322|
|          95|2020-01-01 00:00:00|       green|  165389.12000000052|               8057.5|                 6076.0|        13427.379999999977|          2529.8199999999742|                    4000.500000000965|          200177.01999997895|                               722.5|        1.3752864157119475|       2.789498157700803|
|         179|2020-02-01 00:00:00|       green|   30993.81000000007|               1776.0|                 1028.0|        2440.6099999999997|           403.9200000000002|                    706.2000000000111|          37867.839999999545|                              508.75|        1.4434865900383143|       2.801664575491427|
|          77|2020-02-01 00:00:00|       green|  16452.800000000007|               1370.0|                  103.5|                      6.62|           591.0700000000003|                   161.09999999999917|          18690.939999999988|                                 0.0|        1.1851851851851851|       6.549829931972788|
|         198|2020-02-01 00:00:00|       green|    8626.35999999999|                739.5|                   62.5|                    119.16|                      189.44|                    96.89999999999966|           9847.160000000005|                                16.5|        1.2190476190476192|       4.818405797101453|
|         171|2020-02-01 00:00:00|       green|  11996.219999999998|               830.25|                   38.5|         51.14000000000001|           402.6000000000001|                   114.89999999999961|          13443.810000000001|                                8.25|        1.2884615384615385|       7.254517766497463|
|          73|2020-02-01 00:00:00|       green|             2853.68|               208.25|                   17.0|                     27.72|           55.07999999999999|                    30.90000000000003|          3196.5299999999993|                                 0.0|        1.3076923076923077|       5.247727272727273|
|         120|2020-02-01 00:00:00|       green|              695.38|                29.25|                   10.0|                     20.24|                       12.24|                    8.999999999999998|           795.3600000000001|                                22.0|        1.3043478260869565|       6.536333333333334|
|         191|2020-01-01 00:00:00|       green|    24836.6200000001|              1235.25|                  144.0|         9.969999999999999|          411.53000000000026|                   218.40000000000256|          26858.520000000008|                                2.75|        1.2651162790697674|       8.111508951406641|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [23]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')