In [1]:
import os
import sys

import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql import functions as F

In [2]:
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/06 10:58:36 WARN Utils: Your hostname, MacBook-Pro-Stanislav.local resolves to a loopback address: 127.0.0.1; using 192.168.90.236 instead (on interface en0)
24/03/06 10:58:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/06 10:58:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/06 10:58:37 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/03/06 10:58:37 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/03/06 10:58:37 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/03/06 10:58:37 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
24/03/06 10:58:37 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-06 00:58:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Распознаётся github.com (github.com)… 20.205.243.166
Подключение к github.com (github.com)|20.205.243.166|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 302 Found
Адрес: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240305T215812Z&X-Amz-Expires=300&X-Amz-Signature=426b74ad2a2cd614e71b37e946cb0766f54ddf83d5533201e9bff0f08d1cacbd&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [переход]
--2024-03-06 00:58:12--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240305T215812Z&X-Amz-Expires=300&X-Amz-Signature=426b74ad2a2cd614e71b37e946cb0766f54ddf83d5533201e9bff0f08d1cacbd&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Распознаётся objects.githubusercontent.com (objects.githubusercontent.com)… 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Подключение к objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 19375751 (18M) [application/octet-stream]
Сохранение в: «fhv_tripdata_2019-10.csv.gz»

fhv_tripdata_2019-1 100%[===================>]  18,48M  2,29MB/s    за 8,0s

2024-03-06 00:58:21 (2,31 MB/s) - «fhv_tripdata_2019-10.csv.gz» сохранён [19375751/19375751]

In [6]:
!gzip -d fhv_tripdata_2019-10.csv.gz

In [15]:
!head -n 1001 fhv_tripdata_2019-10.csv > head.csv

In [4]:
# Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.
df_pandas = pd.read_csv('head.csv')
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [5]:
df_pandas.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264.0,264.0,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264.0,264.0,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264.0,264.0,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264.0,264.0,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264.0,264.0,NaN,B00014

In [6]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.StringType(), True), 
    types.StructField('dropOff_datetime', types.StringType(), True), 
    types.StructField('PUlocationID', types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.IntegerType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
])


df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [7]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [8]:
df = df.repartition(6)

In [9]:
df.write.parquet('fhv/2019/10/')

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/Users/diana/study/de-course/data-engineering-zoomcamp/week5/fhv/2019/10 already exists. Set mode as "overwrite" to overwrite the existing path.

In [9]:
df.count()

1897493

In [10]:
# How many taxi trips were there on the 15th of October?
# Consider only trips that started on the 15th of October.

df = df.withColumn('pickup_date', F.to_date(df.pickup_datetime))
df.select('Affiliated_base_number', 'pickup_date', 'dropOff_datetime', 'PULocationID', 'DOLocationID') \
    .filter(df.pickup_date == '2019-10-15').count()

62610

In [11]:
# What is the length of the longest trip in the dataset in hours?

df.registerTempTable('fhv_tripdata')

spark.sql("""
    SELECT MAX((unix_timestamp(dropOff_datetime)-unix_timestamp(pickup_datetime))/(3600))
    FROM fhv_tripdata
""").show()

/Users/diana/.conda/envs/de_zoomcamp/lib/python3.12/site-packages/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+----------------------------------------------------------------------------------------------------------------------------+
|max(((unix_timestamp(dropOff_datetime, yyyy-MM-dd HH:mm:ss) - unix_timestamp(pickup_datetime, yyyy-MM-dd HH:mm:ss)) / 3600))|
+----------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                    631152.5|
+----------------------------------------------------------------------------------------------------------------------------+

In [12]:
# Load the zone lookup data into a temp view in Spark
# Zone Data
tz_df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

tz_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [13]:
tz_df.registerTempTable('taxi_zone_lookup')

In [21]:
# Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?
spark.sql("""
    SELECT Zone, COUNT(*)
    FROM fhv_tripdata ft LEFT JOIN taxi_zone_lookup tzl
    ON ft.PULocationID = tzl.LocationID
    GROUP BY 1
    ORDER BY 2
    LIMIT 1
""").show()

+-----------+--------+
|       Zone|count(1)|
+-----------+--------+
|Jamaica Bay|       1|
+-----------+--------+